<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @*@Styles.Render("~/Content/css")*@
        @Styles.Render("~/Content/Site2.css")
        @*@Scripts.Render("~/Scripts/jquery-1.10.2.min.js", "~/Scripts/site2.js")*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/site")

    </head>
    <body>
        <div class="main-display">
            <div class="site-header">
                @Html.ActionLink("SQL Server Versions", "Index", "Home")
            </div>
            <div class="nav-bar">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-item" })
                @Html.ActionLink("Recent Releases", "RecentRelease", "Home", new { major = 0 }, new { @class = "nav-item" })
                @Html.ActionLink("Supportability", "Supportability", "Home", new { major = 0 }, new { @class = "nav-item" })
                @Html.ActionLink("* Back Fill *", "BackFill", "Home", null, new { @class = "nav-bar-backfill" })
            </div>
            <div>
                @RenderBody()
            </div>
        </div>
        <div class="layout-footer">
            <a href="https://github.com/tstringer/sql-server-versions">Open Source on GitHub</a>
            <a href="http://tstringer.azurewebsites.net/?p=1621">What is this?</a>
            <a href="https://github.com/tstringer/sql-server-versions/issues">Report a bug or request a feature</a>
        </div>
    </body>
</html>
