@model SqlServerVersions.ViewModels.BackFillViewModel

@using SqlServerVersions.ViewModels

@{
    ViewBag.Title = "BackFill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    using (Html.BeginForm("BackFill", "Home", FormMethod.Post))
    {
        <div class="backfill">
            <table>
                <tr>
                    <td>
                        remaining back fill items: @Model.BackFillCount
                    </td>
                </tr>              
            </table>

            @if (Model.DisplayMessage == DisplayMessage.Error && Model.BackFillBuild != null)
            {
                <table>
                    <tr>
                        <td class="failure-message">
                            bad data! please correct then re-submit
                        </td>
                    </tr>
                </table>
            }
            else if (Model.DisplayMessage == DisplayMessage.Error && Model.BackFillBuild == null)
            {
                <table>
                    <tr>
                        <td class="failure-message">
                            something went wrong!!
                        </td>
                    </tr>
                </table>
            }
            else if (Model.DisplayMessage == DisplayMessage.Success)
            {
                <table>
                    <tr>
                        <td class="success-message" id="data-add-successful">
                            thanks for adding the data!!!
                        </td>
                    </tr>
                </table>
            }

            @if (Model.BackFillBuild == null && Model.BackFillCount == 0)
            {
                <table>
                    <tr>
                        <td>
                            <b>all done!</b>  no more back fill verions!!!<br />
                            <i>a special thanks to all those that have contributed to back filling version for the community</i>
                        </td>
                    </tr>
                </table>
            }
            else
            {
                @Html.HiddenFor(m => m.BackFillBuild.Major)
                @Html.HiddenFor(m => m.BackFillBuild.Minor)
                @Html.HiddenFor(m => m.BackFillBuild.Build)
                <table class="main-view">
                    <tr>
                        <td width="50%">
                            <table>
                                <tr>
                                    <td colspan="2" class="question-fill-version">
                                        can you fill in version info for <br /><b>@string.Format("{0}.{1}.{2}.{3}", Model.BackFillBuild.Major, Model.BackFillBuild.Minor, Model.BackFillBuild.Build, Model.BackFillBuild.Revision)</b>?
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field-label">
                                        revision
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.BackFillBuild.Revision, new { id = "input-revision" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="example">
                                        is this revision number even correct? (it may not be!)<br />
                                        <span class="revision-error">incorrect revision number</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field-label">
                                        long name
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.FriendlyNameLong, new { id = "input-friendlynamelong" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="example">
                                        i.e. SQL Server 2012 Service Pack 1 Cumulative Update 3
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field-label">
                                        short name
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.FriendlyNameShort, new { id = "input-friendlynameshort" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="example">
                                        i.e. SQL 2012 SP1 CU3
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field-label">
                                        release date
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.ReleaseDate, new { id = "input-releasedate" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="example">
                                        mm/dd/yyyy<br />
                                        <span class="date-error">incorrect date format</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span id="input-supported" class="backfill-supported backfill-supported-input">supported</span>
                                        @Html.HiddenFor(m => m.IsSupported, new { id = "hidden-supported" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="example-supported">
                                        click to toggle
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field-label">
                                        reference link
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.ReferenceLink, new { id = "input-referencelink" })
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%">
                            <table class="submit-preview">
                                <tr>
                                    <td>
                                        @string.Format("{0}.{1}.{2}.", Model.BackFillBuild.Major, Model.BackFillBuild.Minor, Model.BackFillBuild.Build)<span id="repeat-revision"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="repeater">
                                        <span id="repeat-friendlynamelong"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="repeater">
                                        <span id="repeat-friendlynameshort"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="repeater">
                                        <span id="repeat-releasedate"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="repeater">
                                        <span id="repeat-issupported" class="backfill-supported">Supported</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="repeater">
                                        <a id="repeat-referencelink" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="submit" value="add" id="add-new-build" disabled="disabled"/>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="plea-message">
                            <b>Why help?</b>  Good question!!  SQL Server Versions website and API is a tool for the community.  It can help everybody pull important information about versions in their environment.  Oftentimes, this is a hard task if not impossible.  So if you have a free 30 seconds, please fill in the information for one back fill version.  This site and API is only as useful as you make it!
                        </td>
                    </tr>
                </table>
            }
            
        </div>
    }
}

