@model SqlServerVersions.ViewModels.BackFillViewModel

@{
    ViewBag.Title = "BackFill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    using (Html.BeginForm("BackFill", "Home", FormMethod.Post))
    {
        <div class="backfill">
            <table>
                <tr>
                    <td>
                        remaining back fill items: @Model.BackFillCount<br />
                        <span id="hello">testing</span>
                    </td>
                </tr>              
            </table>
            @if (Model.BackFillBuild == null && Model.BackFillCount == 0)
            {
                <table>
                    <tr>
                        <td>
                            <b>all done!</b>  no more back fill verions!!!<br />
                            <i>a special thanks to all those that have contributed to back filling version for the community</i>
                        </td>
                    </tr>
                </table>
            }
            else
            {
                <table>
                    <tr>
                        <td width="50%">
                            <table>
                                <tr>
                                    <td colspan="2" class="question-fill-version">
                                        can you fill in version info for <br /><b>@string.Format("{0}.{1}.{2}.{3}", Model.BackFillBuild.Major, Model.BackFillBuild.Minor, Model.BackFillBuild.Build, Model.BackFillBuild.Revision)</b>?
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field-label">
                                        long name
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.FriendlyNameLong, new { id = "input-friendlynamelong" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="example">
                                        i.e. SQL Server 2012 Service Pack 1 Cumulative Update 3
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field-label">
                                        short name
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.FriendlyNameShort, new { id = "input-friendlynameshort" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="example">
                                        i.e. SQL 2012 SP1 CU3
                                    </td>
                                </tr>
                                <tr>
                                    <td class="field-label">
                                        release date
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(m => m.ReleaseDate)
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="example">
                                        mm/dd/yyyy
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        supported
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="example-supported">
                                        click to toggle
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%">
                            <table>
                                <tr>
                                    <td>
                                        @string.Format("{0}.{1}.{2}.{3}", Model.BackFillBuild.Major, Model.BackFillBuild.Minor, Model.BackFillBuild.Build, Model.BackFillBuild.Revision)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="repeat-friendlynamelong"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="repeat-friendlynameshort"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Released on: <span id="releasedate"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span id="issupported">Supported</span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            }
            
        </div>
    }
}

