@model SqlServerVersions.ViewModels.VersionSearchViewModel

@using (Html.BeginForm("VersionSearch", "Home")) {
    <div class="version-search">
        <table>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.Major)            
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Minor)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Build)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Revision)
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <input type="submit" value="search" />
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    @Html.ValidationSummary()
                </td>
            </tr>
        </table>
    </div>
}

@if (Model != null && Model.IsSearchedFor)
{
    <div class="search-results">
        @if (Model.FoundVersion == null)
        {
            <p class="no-results">
                sorry, I couldn't find that :-(<br /><br />
                if this is a real version, <b>can you add it?</b> (do it for the community!)
            </p>
            <table>
                <tr>
                    <td colspan="2">
                        @string.Format("{0}.{1}.{2}.{3}", Model.NewVersion.Major, Model.NewVersion.Minor, Model.NewVersion.Build, Model.NewVersion.Revision)
                    </td>
                </tr>
                <tr>
                    <td class="field-label">
                        long name:
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.NewVersion.FriendlyNameLong, new { id = "input-friendlynamelong" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="example">
                        i.e. SQL Server 2012 Service Pack 1 Cumulative Update 3
                    </td>
                </tr>
                <tr>
                    <td class="field-label">
                        short name:
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.NewVersion.FriendlyNameShort, new { id = "input-friendlynameshort" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="example">
                        i.e. SQL 2012 SP1 CU3
                    </td>
                </tr>
                <tr>
                    <td class="field-label">
                        release date
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.NewVersion.ReleaseDate, new { id = "input-releasedate" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="example">
                        mm/dd/yyyy<br />
                        <span class="date-error">incorrect date format</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span id="input-supported" class="backfill-supported backfill-supported-input">supported</span>
                        @Html.HiddenFor(m => m.NewVersion.IsSupported, new { id = "hidden-supported" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="example-supported">
                        click to toggle
                    </td>
                </tr>
                <tr>
                    <td class="field-label">
                        reference link
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.ReferenceLink, new { id = "input-referencelink" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="add" id="add-new-build" disabled="disabled" />
                    </td>
                </tr>
            </table>
        }
        else
        {
        <table>
            <tr>
                <td>
                    @string.Format("{0}.{1}.{2}.{3}", Model.FoundVersion.Major, Model.FoundVersion.Minor, Model.FoundVersion.Build, Model.FoundVersion.Revision)
                </td>
            </tr>
            <tr>
                <td>
                    @Model.FoundVersion.FriendlyNameLong
                </td>
            </tr>
            <tr>
                <td>
                    Released on @string.Format("{0:d}", Model.FoundVersion.ReleaseDate)
                </td>
            </tr>
            <tr>
                @if (Model.FoundVersion.IsSupported)
                {
                    <td class="supported">
                        Supported
                    </td>
                }
                else
                {
                    <td class="unsupported">
                        Unsupported
                    </td>
                }
            </tr>
            @foreach (string VersionRefUri in Model.FoundVersion.ReferenceLinks)
            {
                <tr>
                    <td>
                        <a href="@VersionRefUri">@VersionRefUri</a>
                    </td>
                </tr>
            }
        </table>
        }
    </div>
}